@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --blue: #10125A;
  --green: #0D9C4A;
  --gray: #828282;
  --gray02: #D9D9D9;
  --lightGray: #F1F1F1;
  --darkGray: #363636;
  --white: #fff;
  --black: #000;
  --orange: #F47920;
}

body {
  background-color: var(--white);
  color: var(--blue);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--gray02);
  color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  height: 60px;
  cursor: pointer;
}

.burger-icon {
  font-size: 34px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background-color: var(--gray02);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 100;
  font-weight: bold;
  text-align: center;

}

.sidebar.open {
  right: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 80px;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.sidebar a:hover {
  color: var(--orange);
}

.close-icon {
  font-size: 24px;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}

.active-link {
  color: var(--orange);
  cursor: default;
  font-size: 20px;
  pointer-events: none;
}

.slideshow {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.slide {
  width: 100%;
  height: 580px;
}

.sub .slide,
.banner {
  height: 460px;
}

.banner img {
  height: 460px;
  width: 100%;
}

.fade-in {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: all 0.3s ease;
}

.arrow:hover {
  color: var(--orange);
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--blue);
  border-radius: 50%;
  opacity: 0.5;
  transform: scale(0.6);
  transition: all 0.3s ease;
}

.dot.active {
  background-color: var(--orange);
  opacity: 1;
  transform: scale(1.2);
}

.dot-1,
.dot-3 {
  opacity: 0.7;
  transform: scale(0.8);
}

.dot-0,
.dot-4 {
  opacity: 0.4;
  transform: scale(0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--orange);
}

.home01 {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 60px;
  gap: 40px;
  line-height: 2em;
}

.home01 div:nth-child(2) {
  text-align: center;
}

.home01 img {
  width: 91%;
  margin: auto;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: var(--orange);
}

.home01 span span,
.home04 span span {
  transform: translateY(7px);
  font-size: 24px;
  margin-left: 8px;
}

.home02 {
  padding: 0px 60px;
  text-align: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 40px 0;
}

.servicesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 80px;
}

.lastCard {
  grid-column: 1 / -1;
  width: 740px;
  margin: auto;
}

.lastCard .cardContent {
  min-height: fit-content !important;
}

.lastCard p {
  margin-bottom: 20px !important;
}

/* .servicesContainer > *:nth-last-child(1):nth-child(odd) {
  justify-self: center;
  min-height: 100px;
} */

.servicesContainer .card h2 {
  color: var(--orange) !important;
  margin: 20px auto;
}

.servicesContainer .cardContent {
  min-height: 220px;
  font-size: 24px;
}

.servicesContainer .cardContent p {
  margin-bottom: 0;
}

.card {
  background-color: var(--lightGray);
  border-radius: 30px;
}

.card h2 {
  color: var(--blue) !important;
}

.cardContent {
  border-radius: 30px;
  background-color: var(--gray02);
  padding: 10px 40px;
  font-size: 22px;
  line-height: 1.5em;
  min-height: 230px;
}

.home03 {
  padding: 0px 60px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 700px;
}

.appStoreContainer {
  width: 280px;
  margin: auto;
  margin-top: 100px;
}

.appStoreContainer img {
  height: 90px;
  display: block;
  margin: 10px auto;
}

.home04 {
  text-align: center;
  margin-top: 60px;
}

.slideshow-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background: var(--lightGray);
  margin: 40px auto;
}

.slideshow-track {
  display: flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.imgSliderContainer img {
  width: 220px;
  max-width: 250px !important;
  height: 90px;
  margin: 0 15px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.slideshow-container:hover .slideshow-track {
  animation-play-state: paused;
}

.imgSliderContainer {
  background-color: var(--white);
  margin: 30px 25px;
  padding: 20px;
  width: 250px !important;
  border-radius: 24px;
  height: 90px;
}

.footer {
  background-image: url('../public/media/footerRectangle.png');
  background-size: cover;
  background-position: center;
  color: #333;
  padding: 80px;
  text-align: center;
  margin-top: 60px;
}

.footer .appStoreContainer {
  margin: 0px auto;
  scale: 0.8;
}

.footer .logo {
  width: 340px;
  height: 140px;
  scale: 0.8;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 40px;
}

.download-section h3,
.social-media h3,
.contact-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-section {
  text-align: left;
  color: var(--gray);
}

.contact-section h3 {
  text-align: center;
}

.store-badge {
  width: 150px;
  margin: 10px 0;
}

.icons i {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  margin-top: 24px;
}

.contact-section p {
  margin: 8px 0;
}

.footer table {
  margin-top: 20px;
}

.footer td {
  vertical-align: top;
  padding-bottom: 20px;
}

.ceo {
  background-color: var(--gray02);
  text-align: center;
  border-radius: 40px;
  padding: 40px;
  margin: 0 60px;
  position: relative;
}

.ceo h4 {
  color: var(--blue);
  font-weight: 300;
  font-size: 28px;
}

.ceo p {
  font-size: 36px;
  font-weight: 200;
  width: 80%;
  margin: auto;
  line-height: 1.5em;
}

.ceo svg {
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translate(-50%, -50%);
}

.about01 {
  text-align: center;
  margin: 40px 60px;
}

.about01 p {
  font-size: 32px;
  font-weight: 200;
}

.about02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 80px;
  gap: 60px;
}

.about02 h4 {
  color: var(--blue);
  font-weight: 500;
  line-height: 1.8em;
}

.incuranceContainer {
  text-align: center;
  margin: 60px;
}

.insuranceLogosContainer {
  background: white;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  justify-content: center;
  margin: 80px auto;
}

.insuranceLogoContainer {
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: white;
  border: 5px solid var(--darkGray);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.insuranceLogo {
  width: 200px;
  height: 200px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.insuranceLogoContainer:hover .insuranceLogo {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.pagination {
  margin-top: 20px;
}

.page-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  margin: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.page-btn:hover {
  color: #e67e22;
}

.page-btn.active {
  color: #e67e22;
  font-weight: bold;
  text-decoration: underline;
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #e67e22;
}

.btn {
  background-color: var(--blue);
  color: var(--lightGray);
  font-size: 32px;
  border-radius: 16px;
  margin: 20px;
  margin-top: 60px;
  cursor: pointer;
  border: 4px solid var(--blue);
  padding: 20px 80px;
  font-weight: 600;
  transition: 500ms ease-in-out;
}

.btn:hover {
  background-color: var(--orange);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 80px;
  width: 100%;
}

.contact-form {
  border-radius: 8px;
  width: 100%;
  position: relative;
}

/* Input Groups */
.input-group {
  display: flex;
  gap: 20px;
  margin: 20px auto;
}

/* Input Fields */
.input-field {
  padding: 20px 24px;
  border: none;
  border-radius: 10px;
  width: 100%;
  background-color: var(--gray02);
  color: var(--blue);
  font-size: 18px;
}

.input-field::placeholder {
  color: var(--blue);
}

.phone-group,
.city-group {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 8px;
  padding: 8px 24px;
  width: 100%;
  position: relative;
}

.phone-code,
.city-input {
  background: var(--gray02);
  border: none;
  outline: none;
  color: #0F0F4C;
  font-size: 18px;
  appearance: none;
  cursor: pointer;
  flex: 1;
  padding-left: 0;
}

.phone-input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--blue);
}

.divider {
  margin: 0 32px;
  margin-left: 42px;
  color: var(--blue);
  font-weight: bold;
}

.phone-group .arrow{
  left: 70px;
}

form .arrow {
  position: absolute;
  right: 24px;
  color: var(--blue);
  font-size: 20px;
  pointer-events: none;
}

/* Textarea */
.textarea {
  height: 200px;
  resize: none;
}

/* Button */
.send-button {
  width: 10%;
  padding: 10px 20px !important;
  font-size: 26px;
  border-radius: 10px;
  margin: 0 !important;
  position: absolute;
  right: 0;
}

/* Contact Info Section */

.infoContainer{
  padding: 40px 80px;
  display: flex;
}

.infoContainer table{
  width: 50%;
  margin-top: 20px;
}

.infoContainer td {
  vertical-align: top;
  padding-bottom: 20px;
}

.infoContainer svg{
  margin-right: 20px;
}

.contact-info {
  text-align: left;
  margin-top: 20px;
}

.contact-info img{
  width: 200px !important;
}

.address,
.phone,
.email {
  color: gray;
  margin: 5px 0;
}

.phone {
  color: orange;
  font-weight: bold;
}

.email {
  color: blue;
}

.locations{
  text-align: center;
  padding: 40px 80px;
}

.hand-phone img{
  position: absolute;
  left: 0;
}